*{
  font-family: poppins, sans-serif;
  font-weight: 300;
}

.hover-act{
  border: 2px solid transparent;
}

.hover-act:hover{
color: DodgerBlue;
border-bottom:2px solid DodgerBlue;
transition: .5s ease-in;
}

.box-shadow{
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.09),
0 3px 8px hsla(0, 0%, 0%, 0.09),
0 4px 13px hsla(0, 0%, 0%, 0.13);
}